<div class="jumbotron">
  <h1 class="display-4">Seja bem vindo!</h1>
  <p class="lead">Este é o Crypto-Wallet, um web app para cadastro e acompanhamento de crypto moedas</p>
  <hr class="my-4">
  <p>Para começar, selecione uma das opções abaixo:</p>
<%= render "menu" %>
</div>

