<div id="<%= dom_id coin %>">
  <p>
    <strong>Descrição:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Acrônimo:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong>Imagem:</strong>
    <%= image_tag coin.image_url, size: "25x25" %>
  </p>

</div>
